html {
  background: url("https://i.vimeocdn.com/video/534502243_1280x720.jpg") no-repeat center fixed;
  background-size: cover;
}

.App { 
  background: #D3D3D3; 
  opacity: 0.95;
  margin-top: 50px;
  text-align: center; 
  height: 500px;
  padding: 20px;
}

.App-intro {
  font-size: large;
} 

.App-title {
  font-size: 1.5em;
}

button.btn.btn-default { 
 margin: auto;
}

.col-md-5 { 
  padding: 10px;
} 

.col-md-6.col-md-offset-4 { 
  text-align: center;
  margin: 5px; 
}

.container { 
  background: grey; 
  opacity: 0.95;
  text-align: center;
  margin-top: 100px; 
  padding: 20px;
} 

.navbar .link {
  padding-left:10px;
  padding-right:10px;
}


.Review { 
  background: #D3D3D3; 
  opacity: 0.95;
  margin-top: 50px;
  text-align: center;
  height: 100px; 
  padding: 20px;
} 

@media only screen and (max-width: 250px) { 
  .container {  
    padding: 2%;
  }  

  .col-md-5 {  
    padding: 2%;
  }
}