.App { 
  background: #D3D3D3; 
  opacity: 0.95;
  margin-top: 50px;
  text-align: center; 
  height: 500px;
  padding: 20px;
}

html {
  background: url("https://i.vimeocdn.com/video/534502243_1280x720.jpg") no-repeat center fixed;
  background-size: cover;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} 

.col-md-5 { 
  padding: 10px;
} 

.navbar .link {
  padding-left:10px;
  padding-right:10px;
}

.container { 
  background: grey; 
  opacity: 0.95;
  margin-top: 100px; 
  padding: 20px;
} 

.Review { 
  background: #D3D3D3; 
  opacity: 0.95;
  margin-top: 50px;
  text-align: center;
  height: 100px; 
  padding: 20px;
}